<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<form method="POST" th:action="@{/log-out}">
    <input type="submit" value="Log-out"/>
</form>

<br>

Create new folder
<form method="post" th:action="@{/directory}">
    <input type="hidden" name="path" th:value="${path}">
    <input type="text" name="name_folder">
    <input type="submit" name="create" value="Create">
</form>

<br>

<form th:method="post" enctype="multipart/form-data" th:action="@{/}">
    File to upload:
    <input type="file" name="file">
    <input name="pathFile" type="hidden" th:value="${path}">
    <br/>
    <input type="submit" value="Upload">
</form>

<br>

<div th:each="folder:${objectsDir.folders}">

<span>
    <a th:text="${folder.name}" th:href="@{http://localhost:8080(path=${folder.path})}"></a>

    <form th:method="post" th:action="@{/download}">
        <input name="pathFile" th:value="${folder.path}" type="text">
        <input name="targetFile" type="text">
        <input type="submit" name="Download" value="Download">
    </form>

    <form th:method="DELETE" th:action="@{http://localhost:8080(path=${folder.path})}">
       <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        <input type="submit" name="delete" value="Delete">
    </form>

</span>
</div>

<div th:each="file:${objectsDir.files}">

<span>
    <a th:text="${file.name}" th:href="@{http://localhost:8080(path=${file.path})}"></a>

    <form th:method="post" th:action="@{/download}">
        <input name="pathFile" th:value="${file.path}" type="text">
        <input name="targetFile" type="text">
        <input type="submit" name="Download" value="Download">
    </form>

    <form th:method="DELETE" th:action="@{http://localhost:8080(path=${file.path})}">
       <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        <input type="submit" name="delete" value="Delete">
    </form>

</span>
</div>

</body>
</html>