<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Home</title>
</head>
<body>
<main class="container">

    <div th:replace="header :: header"></div>

    <div sec:authorize="isAnonymous()" class="text-center pt-5">
        <p1>Welcome to cloud storage.
            <br>
            If you are already registered
            <br>
                <a style="background-color:#e9ecef" href="/log-in">login</a>
            otherwise
            <a style="background-color:#e9ecef" href="/log-up">registration</a>.
        </p1>
    </div>

    <div class="row" sec:authorize="isAuthenticated()">

        <div class="sidebar col-sm-2">
            <ul class="nav flex-column pt-5">
                <li class="nav-item p-2">
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal"
                            data-bs-target="#uploadFile">
                        <i class="bi bi-upload"></i> <i class="bi bi-file-earmark"></i>
                    </button>
                </li>
                <li class="nav-item p-2">
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal"
                            data-bs-target="#uploadDir">
                        <i class="bi bi-upload"></i> <i class="bi bi-folder-fill"></i>
                    </button>
                </li>
                <li class="nav-item p-2">
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal"
                            data-bs-target="#createDir">
                        <i class="bi bi-plus-lg"></i> <i class="bi bi-folder-fill"></i>
                    </button>
                </li>
            </ul>
        </div>

        <div class="content col-sm-10">

            <div th:replace="search_form::search_form"></div>

            <div class="p-3" id="error-message" style="color:red" th:text="${errorMessage}"></div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-3">
                    <li class="breadcrumb-item">
                        <a th:href="@{/}" th:text="root"></a>
                    </li>
                    <li class="breadcrumb-item" th:each="breadCrumb:${bread_crumbs}">
                        <a th:href="@{/(path=${breadCrumb.link})}" th:text="${breadCrumb.name}"></a>
                    </li>
                </ol>
            </nav>

            <div class="container p-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Size</th>
                            <th scope="col">Last Modified</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="entity:${objects_dir}">
                            <tr>
                                <td>
                                    <div th:if="${!entity.isDir()}">
                                        <i class="bi bi-file-earmark"></i>
                                    </div>
                                    <div th:if="${entity.isDir()}">
                                        <i class="bi bi-folder-fill"></i>
                                    </div>
                                </td>
                                <td>
                                    <a th:if="${entity.isDir()}" th:text="${entity.name}"
                                       th:href="@{/(path=${entity.relativePath})}"></a>
                                    <span th:if="${!entity.isDir()}" th:text="${entity.name}"></span>
                                </td>
                                <td th:text="${entity.getSize()}">Size</td>
                                <td th:text="${entity.date}">Date</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary" type="button"
                                                id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <!--                                            download-->
                                            <li>
                                                <button th:if="${!entity.isDir()}" class="btn btn-secondary"
                                                        th:data-path="'/file?path=' + ${entity.relativePath}"
                                                        th:data-name="${entity.name}"
                                                        th:onclick="downloadFile(this.getAttribute('data-path'), this.getAttribute('data-name'))">
                                                    <i class="bi bi-download"></i>
                                                </button>
                                                <button th:if="${entity.isDir()}" class="btn btn-secondary"
                                                        th:data-path="'/directory?path=' + ${entity.relativePath}"
                                                        th:data-name="${entity.name} + '.zip'"
                                                        th:onclick="downloadFile(this.getAttribute('data-path'), this.getAttribute('data-name'))">
                                                    <i class="bi bi-download"></i>
                                                </button>
                                            </li>
                                            <!--                                            rename-->
                                            <li>
                                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                                        th:data-bs-target="'#renameFile' + ${entity.id}">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>
                                            </li>
                                            <!--                                            delete-->
                                            <li>
                                                <button class="btn btn-secondary" th:form="'formDelete' + ${entity.id}">
                                                    <i class="bi bi-trash3"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <div id="deleteFormDir" th:if="${entity.isDir()}">
                                <form th:id="'formDelete' + ${entity.id}" th:method="DELETE"
                                      th:action="@{/directory(path=${entity.relativePath})}">
<!--                                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}"-->
<!--                                           type="hidden">-->
                                    <input type="hidden" name="current_path" th:value="${current_path}">
                                </form>
                            </div>

                            <div id="deleteFormFile" th:if="${!entity.isDir()}">
                                <form th:id="'formDelete' + ${entity.id}" th:method="DELETE"
                                      th:action="@{/file(path=${entity.relativePath})}">
<!--                                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}"-->
<!--                                           type="hidden">-->
                                    <input type="hidden" name="current_path" th:value="${current_path}">
                                </form>
                            </div>

                            <div class="modal fade" th:id="'renameFile' + ${entity.id}" tabindex="-1"
                                 th:aria-labelledby="'renameFileModalLabel' + ${entity.id}"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title fs-5"
                                                th:id="'renameFileModalLabel' + ${entity.id}"
                                                th:text="'Rename ' + ${entity.name}">Rename text</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Закрыть"></button>
                                        </div>
                                        <div class="modal-body" th:if="${!entity.isDir()}">
                                            <form th:id="'renameFileForm' + ${entity.id}" th:method="PUT"
                                                  th:action="@{/file}">
<!--                                                <input type="hidden" th:name="${_csrf.parameterName}"-->
<!--                                                       th:value="${_csrf.token}">-->
                                                <input type="hidden" name="current_path" th:value="${current_path}">
                                                <input type="hidden" name="path" th:value="${entity.relativePath}">
                                                New name: <input type="text" name="new_name">
                                            </form>
                                        </div>
                                        <div class="modal-body" th:if="${entity.isDir()}">
                                            <form th:id="'renameFileForm' + ${entity.id}" th:method="PUT"
                                                  th:action="@{/directory}">
<!--                                                <input type="hidden" th:name="${_csrf.parameterName}"-->
<!--                                                       th:value="${_csrf.token}">-->
                                                <input type="hidden" name="current_path" th:value="${current_path}">
                                                <input type="hidden" name="path" th:value="${entity.relativePath}">
                                                New name: <input type="text" name="new_name">
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button th:form="'renameFileForm' + ${entity.id}" type="submit"
                                                    class="btn btn-primary">Rename
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="footer :: footer"></div>
</main>
</body>

<!-- Модальное окно создать новую папку-->
<div class="modal fade" id="createDir" tabindex="-1" aria-labelledby="createDirModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="createDirModalLabel">Create new directory</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="createDirForm" method="post" th:action="@{/directory}">
                    <input type="hidden" name="current_path" th:value="${current_path}">
                    Name: <input type="text" name="name">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button form="createDirForm" type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно загрузить файл-->
<div class="modal fade" id="uploadFile" tabindex="-1" aria-labelledby="uploadFileModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="uploadFileModalLabel">Upload File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="uploadFileForm" th:method="post" enctype="multipart/form-data" th:action="@{/}">
                    <input type="file" name="file" multiple>
                    <input name="path" type="hidden" th:value="${current_path}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button form="uploadFileForm" type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно загрузить папку-->
<div class="modal fade" id="uploadDir" tabindex="-1" aria-labelledby="uploadDirModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="uploadDirModalLabel">Upload directory</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="uploadDirform" th:method="post" th:action="@{/}" enctype="multipart/form-data">
                    <input type="file" name="file" multiple webkitdirectory>
                    <input name="path" type="hidden" th:value="${current_path}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button form="uploadDirform" type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script th:inline="javascript">
    function downloadFile(path, name) {
        fetch(path)
            .then(response => {
                if (response.ok) {
                    return response.blob();
                }
                response.text()
                    .then(errorText => {
                            document.getElementById('error-message').innerHTML = errorText;
                        }
                    )
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = name;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</html>