<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<form method="POST" th:action="@{/log-out}">
    <input type="submit" value="Log-out"/>
</form>

<br>

Create new folder
<form method="post" th:action="@{/directory}">
    <input type="hidden" name="current_path" th:value="${current_path}">
    <input type="text" name="name_folder">
    <input type="submit" name="create" value="Create">
</form>

<br>

<form th:method="post" enctype="multipart/form-data" th:action="@{/file}">
    File to upload:
    <input type="file" name="file">
    <input name="path" type="hidden" th:value="${current_path}">
    <br/>
    <input type="submit" value="Upload">
</form>

<br>

<div th:each="entity:${objects_dir}">
    <span th:if="${!entity.isDir()}" th:text="File">Type</span>
    <span th:if="${entity.isDir()}" th:text="Folder">Type</span>

    <div th:if="${!entity.isDir()}" th:text="${entity.name}">File name</div>

    <div th:if="${entity.isDir()}">
        <a th:text="${entity.name}" th:href="@{/(path=${entity.getLink})}">Folder Name</a>
    </div>

    <div th:if="${!entity.isDir()}">
        <button th:data-path="${entity.getLink}"
                th:data-name="${entity.name}"
                th:onclick="downloadFile(this.getAttribute('data-path'), this.getAttribute('data-name'))">
            Download
        </button>
    </div>

    <div th:if="${!entity.isDir()}">
        <form th:method="DELETE" th:action="@{/file(path=${entity.getLink})}">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
            <input type="hidden" name="current_path" th:value="${current_path}">
            <input type="submit" name="delete" value="Delete">
        </form>
    </div>

    <div th:if="${entity.isDir()}">
        <form th:method="DELETE" th:action="@{/directory(path=${entity.getLink})}">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
            <input type="hidden" name="current_path" th:value="${current_path}">
            <input type="submit" name="delete" value="Delete">
        </form>
    </div>

    <br>
</div>
</body>

<script th:inline="javascript">
    function downloadFile(path, name) {
        fetch("/file?path=" + path)
            .then(response => {
                if (response.ok) {
                    return response.blob();
                }
                throw new Error('Network response was not ok.');
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = name; // Укажите имя файла
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => console.error('There has been a problem with your fetch operation:', error));
    }
</script>
</html>