<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div sec:authentication="name">User name</div>

<form method="POST" th:action="@{/log-out}">
    <input type="submit" value="Log-out"/>
</form>

<form method="get" action="/">
    <button>Home</button>
</form>

Search
<form method="get" th:action="@{/search}">
    <input type="text" name="query" th:value="${query}">
    <input type="submit" value="Search">
    <div>
        <p th:if="${errorSearch}" th:text="${errorSearch}" style="color:red">Error</p>
    </div>
</form>

<div th:each="entity:${find_objects}">
    <span th:if="${!entity.isDir()}" th:text="File">Type</span>
    <span th:if="${entity.isDir()}" th:text="Folder">Type</span>

    <div th:if="${entity.relativePath.isBlank()}">
        <a th:text="${entity.name}" th:href="@{/}">Folder Name</a>
    </div>
    <div th:unless="${entity.relativePath.isBlank()}">
        <a th:text="${entity.name}" th:href="@{/(path=${entity.relativePath})}">Folder Name</a>
    </div>

</div>

</body>
</html>